
<br>
<img [src]="src" [alt]="alt">
<br>
<p>This textbook is intended for use by students of physics, physical chemistry, and theoretical chemistry. The reader is presumed to have a
    basic knowledge of atomic and quantum physics at the level provided, for  example, by the first few chapters in our book it The Physics of Atoms
    and Quanta. The student of physics will find here material which should be included in the basic education of every physicist. This book should
    furthermore allow students to acquire an appreciation of the breadth and variety within the field of molecular physics and its future as a
    fascinating area of research</p>
